<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Form</title>
</head>
<body>
    <h1>FORMULARIO</h1>
    <a href="/panel">VOLVER</a>

    <form action="/form" method="post" enctype="multipart/form-data">
        <div>
        <h2>Selecciona tipo de entry</h2>
        <label>
            <input type="radio" name="type" id="foto" value="photo"> Foto
        </label>
        <label>
            <input type="radio" name="type" id="post" value="post"> Post
        </label>
        <label>
            <input type="radio" name="type" id="video" value="video"> Video
        </label>
        </div>
        <br>
        <label for="title">Titulo</label>
        <input type="text" name="title" id="title">
        <br> <br>
        <label for="slug">Slug(url)</label>
        <input type="text" name="slug" id="slug">
        <br> <br>
        <label for="description">Descripcion</label>
        <input type="text" name="description" id="description">
        <br> <br>
        <label for="body">Cuerpo</label>
        <br>
        <textarea name="body" id="body" rows="10" cols="50"></textarea>
        <br> <br>
        <label for="file">Fotos o Videos</label>
        <br>
        <input type="file" name="file" id="file" multiple>
        <br> <br>
        <label for="taken_at">Fecha</label>
        <input type="date" name="taken_at" id="taken_at">
        <label for="album">Album</label>
        <input type="text" name="album" id="album">
        <br> <br>
        <label for="is_analog">Analoga</label>
        <input type="checkbox" name="is_analog" id="is_analog">
        <label for="camera_model">Camara</label>
        <input type="text" name="camera_model" id="camera_model">
        <label for="film_stock">Pelicula</label>
        <input type="text" name="film_stock" id="film_stock">
        <br> <br>
        <label for="tags">Etiquetas</label>
        <input type="text" name="tags" id="tags">
        <br><br>
    </form>
    <div id="batch-cards"></div>
    <script src="/static/form.js"></script>
    <br><br>
    <button type="submit">SUBIR</button>
</body>
</html>